html {
  font-family: 'Albert Sans', sans-serif;
  font-family: 'Comfortaa', cursive;
  background-color: #D2B68B;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 4.75vw;
  font-weight: bolder;
  text-align: center;
  margin: 50px 0px 50px 0px;
  background-color: #33312F;
  border: 5px solid #C67E51;
  border-radius: 20px 80px / 120px;
  color: #D2B68B;
  padding: 10px;
}

header ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  background-color: #33312F;
  border: 5px dotted #C67E51;
  border-radius: 20px 10px;
  padding: 5px;
  color: #000000;
}

header img {
  width: 100px;
  height: 100px
}

ul:hover {
  border: 5px solid #C67E51;
}

ul:active {
  border: 5px solid #C67E51;
  background-color: #33312F;
}

ul li {
  color: #C67E51;
}

ul img:hover {
  width: 115px;
  height: 115px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: row;

  margin-top: 8px;
}

fieldset {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
}

input {
  margin-bottom: 1em;
}

button {
  font-family: 'Comfortaa', cursive;
  font-weight: bolder;
  height: 6em;
  border: 5px groove #C67E51;
  border-radius: 1em;
  margin: 8em 0 4em 4em;
  background-color: #7e7b77;
}

button:hover {
  width: 9em;
  height: 6.5em;
  background-color: #bbb9b7;
}

button:active {
  width: 7em;
  height: 5.5em;
  background-color: #33312F;
}

legend {
  margin: 0 auto 8px auto;
  padding: 0.4em;
  font-weight: bold;
  font-size: 1.2em;
  border: 0.2em groove #C67E51;
  ;
  border-radius: 2em;
  background-color: #33312F;
  color: #D2B68B;
}

table {
  border: 10px #000000;
  border-style: double;
  text-align: center;
  margin: 20px;
  background-color: #33312F;

}

table caption {
  font-weight: bolder;
  color: #D2B68B;
  background-color: #33312F;
  padding: 10px;
  border: 10px dotted #000000;
  border-radius: 30px 30px 0px 0px;
}

th {
  vertical-align: middle;
}

thead th {
  font-weight: 900;
  border-bottom: 5px solid rgb(0, 0, 0);
  border-left: 5px solid rgb(0, 0, 0);
  color: #D2B68B;
}

td {
  vertical-align: middle;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

td:first-of-type {
  border-right: 5px solid #000000;
  font-weight: bolder;
  color: #D2B68B;
}

td:last-of-type {
  border-left: 5px solid #000000;
  font-weight: bolder;
  color: #C67E51;

}

tfoot tr {
  font-weight: bold;
}

tfoot th {
  border-right: 2px solid #000000;
}

tfoot th:first-of-type {
  border-right: 5px solid #000000;
  color: #D2B68B;
}

tfoot th:last-of-type {
  border-left: 5px solid #000000;
  color: #C67E51;
}

/*********** Phone ************/
@media screen and (max-width: 600px) {
  header ul {
    font-size: 4vw;
  }

  table caption {
    font-size: 5vw;
  }

  thead th {
    padding: 1px;
  }

  tr {
    height: 50px;
    font-size: 1.6vw;
  }

  td {
    padding: 1px;
  }
}


/*********** Tablet ************/
@media screen and (min-width: 600px) {
  header ul {
    font-size: 3.5vw;
  }

  table caption {
    font-size: 3vw;
  }

  thead th {
    padding: 2.5px;
  }

  tr {
    height: 65px;
    font-size: 1.65vw;
  }

  td {
    padding: 3px;
  }
}

/*********** Desktop ************/
@media screen and (min-width: 960px) {
  header ul {
    font-size: 2vw;
  }

  table caption {
    font-size: 3vw;
  }

  thead th {
    padding: 3px;
  }

  tr {
    font-size: 1.7vw;
  }

  td {
    padding: 3px;
  }
}